.perm {
    text-align: center;
    padding-top: 400px;
}
h3 {
    text-align: center, justify;
    color: rgb(115, 127, 138);
    font-family: Arial;
}
p {
    text-align: center, justify;
    color: #919ba1;
    font-family: Arial;
}
button {
    color: rgb(61, 58, 58);
    font-family: Arial;
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}
body {
    background-color: black;
}